<%- include("../shared/header") %>

<h1>Register</h1>

<% if (message) { %>
  <p class="notice"><%= message %></p>
<% } %>

<form method="post" action="/account/register">

  <label for="first_name">First Name:</label>
  <input 
    type="text" 
    id="first_name"
    name="first_name" 
    value="<%= first_name || '' %>"
    required
  >

  <label for="last_name">Last Name:</label>
  <input 
    type="text" 
    id="last_name"
    name="last_name" 
    value="<%= last_name || '' %>"
    required
  >

  <label for="email">Email:</label>
  <input 
    type="email" 
    id="email"
    name="email" 
    value="<%= email || '' %>"
    required
  >

  <label for="password">Password:</label>
  <input 
    type="password" 
    id="password"
    name="password" 
    required
    minlength="6"
  >

  <button type="submit">Register</button>

</form>

<%- include("../shared/footer") %>