<h1><%= inv_make %> <%= inv_model %></h1>
<p>Year: <%= inv_year %></p>
<p>Price: $<%= inv_price %></p>
<p>Color: <%= inv_color %></p>
<p>Description: <%= inv_description %></p>
<img src="<%= inv_image %>" alt="<%= inv_make %> <%= inv_model %>">