<%- include("../shared/header") %>

<h1><%= title %></h1>

<table>
  <tr>
    <th>ID</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  <% items.forEach(item => { %>
    <tr>
      <td><%= item.inv_id %></td>
      <td><%= item.inv_make %></td>
      <td><%= item.inv_model %></td>
      <td><%= item.inv_year %></td>
      <td>$<%= Number(item.inv_price).toLocaleString() %></td> 
      <td>
        <a href="/inventory/edit/<%= item.inv_id %>">Edit</a> |
        <a href="/inventory/delete/<%= item.inv_id %>">Delete</a>
      </td>
    </tr>
  <% }) %>
</table>

<%- include("../shared/footer") %>