<%- include("../shared/header") %>

<h1>Inventory Management</h1>

<table border="1">
  <tr>
    <th>ID</th><th>Make</th><th>Model</th><th>Year</th><th>Price</th>
  </tr>

  <% if (items && items.length > 0) { %>
    <% items.forEach(item => { %>
      <tr>
        <td><%= item.inv_id %></td>
        <td><%= item.inv_make %></td>
        <td><%= item.inv_model %></td>
        <td><%= item.inv_year %></td>
        <td><%= item.inv_price %></td>
      </tr>
    <% }) %>
  <% } else { %>
    <tr>
      <td colspan="5">No inventory</td>
    </tr>
  <% } %>
</table>

<%- include("../shared/footer") %>